.MainDash{
    /* padding-top: 1rem; */
    flex:2;
    display: flex;
    flex-direction: column;
    padding:1rem;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
